{% extends "base.html" %}



{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}




{% block content %}


<div class="d-flex justify-content-center align-items-center"
     style="min-height:80vh; background-color:#F6F8FB;">



    <div class="auth-card">


        <div class="text-center mb-4">


            <h3 class="fw-bold text-dark mb-1">
                Add Class
            </h3>


            <p class="text-muted small">
                Add a new timetable entry.
            </p>


        </div>





        <form action="{{ url_for('add_timetable') }}"
              method="POST">





            <div class="mb-3">

                <label class="form-label">
                    Subject
                </label>


                <input
                    type="text"
                    name="subject"
                    class="form-control"
                    placeholder="Enter subject name"
                    required>

            </div>





            <div class="mb-3">

                <label class="form-label">
                    Day
                </label>


                <select
                    name="day"
                    class="form-control"
                    required>


                    <option value="Monday">
                        Monday
                    </option>


                    <option value="Tuesday">
                        Tuesday
                    </option>


                    <option value="Wednesday">
                        Wednesday
                    </option>


                    <option value="Thursday">
                        Thursday
                    </option>


                    <option value="Friday">
                        Friday
                    </option>


                    <option value="Saturday">
                        Saturday
                    </option>


                </select>


            </div>







            <div class="row">


                <div class="col-md-6 mb-3">


                    <label class="form-label">
                        Start Time
                    </label>


                    <input
                        type="text"
                        name="start_time"
                        class="form-control"
                        placeholder="10:00 AM"
                        required>


                </div>





                <div class="col-md-6 mb-3">


                    <label class="form-label">
                        End Time
                    </label>


                    <input
                        type="text"
                        name="end_time"
                        class="form-control"
                        placeholder="11:00 AM"
                        required>


                </div>


            </div>






            <div class="mb-4">


                <label class="form-label">
                    Room
                </label>


                <input
                    type="text"
                    name="room"
                    class="form-control"
                    placeholder="LH-201">


            </div>







            <div class="d-flex gap-2">


                <a href="{{ url_for('timetable') }}"
                   class="btn btn-light border w-50">

                    Cancel

                </a>




                <button
                    type="submit"
                    class="btn btn-teal w-50">

                    Save Class

                </button>


            </div>




        </form>



    </div>


</div>



{% endblock %}